## 4 Data Structures in Python

* List
* Set
* Tuple
* Dict

### 1. List

* 1D
* Heteregenous
* Allows duplicate elements
* Mutable / It is changeable
* Indexable and Slicable

In [1]:
empty_cart_1 = []

In [2]:
type(empty_cart_1)

list

In [3]:
learner_details = [1,2,3,'Nandheesh',8,1234]
learner_details

[1, 2, 3, 'Nandheesh', 8, 1234]

In [4]:
type(learner_details)

list

In [5]:
learner_details = [1,2,3,'Nandheesh',8,1234,1,1,1,1,1,2,2,2,2,2,3]
learner_details

[1, 2, 3, 'Nandheesh', 8, 1234, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [6]:
learner_details[3] = 'Javid'

In [7]:
learner_details

[1, 2, 3, 'Javid', 8, 1234, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [8]:
learner_details[3:6]

['Javid', 8, 1234]

In [25]:
learner_details.append(428)

In [26]:
learner_details

[1, 2, 3, 'Javid', 8, 1234, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, '428', 428]

## 2. Sets

* Heteregenous
* 1D
* Mutable
* It will never allow duplicate elements.
* Not indexable/ Not slicing

In [9]:
empty_cart_2 = set()

In [10]:
type(empty_cart_2)

set

In [11]:
cart_3 = {'potato','oats','Milk','Almonds','Cashews'}
cart_3

{'Almonds', 'Cashews', 'Milk', 'oats', 'potato'}

In [15]:
cart_4 = {'potato','oats','Milk','Almonds','Cashews','potato','oats'}
cart_4

{'Almonds', 'Cashews', 'Milk', 'oats', 'potato'}

In [17]:
cart_4[0]

TypeError: 'set' object does not support item assignment

In [18]:
cart_4.add('Carrot')

In [19]:
cart_4

{'Almonds', 'Carrot', 'Cashews', 'Milk', 'oats', 'potato'}

In [21]:
cart_4.clear()

In [22]:
cart_4

set()

## 3. Tuple

* 1D
* Homogenous
* Allows duplicate elements
* Immutable
* Indexable/ Sliceable

In [27]:
empty_cart_4 = ()

In [28]:
type(empty_cart_4)

tuple

In [36]:
cart_4 = ('Almonds', 'Carrot', 'Cashews', 'Milk', 'oats', 'potato','potato')
cart_4

('Almonds', 'Carrot', 'Cashews', 'Milk', 'oats', 'potato', 'potato')

In [32]:
type(cart_4)

tuple

In [33]:
cart_4[1]

'Carrot'

In [34]:
cart_4[:-1]

('Almonds', 'Carrot', 'Cashews', 'Milk', 'oats')

In [35]:
cart_4[2] = 'Tomato'

TypeError: 'tuple' object does not support item assignment

## 4. Dict --- KEY-VALUE pair

* 2D
* Allows duplicate values but not keys
* Not indexable
* Mutable
* Heteregenous

In [37]:
empty_cart_5 = {}
empty_cart_5

{}

In [38]:
type(empty_cart_5)

dict

In [45]:
cart_5 = {'Potato':3,
          'Tomato':2,
          'Oats  ':0.5,
          'Orange':3}
cart_5

{'Potato': 3, 'Tomato': 2, 'Oats  ': 0.5, 'Orange': 3}

In [47]:
cart_5.keys()

dict_keys(['Potato', 'Tomato', 'Oats  ', 'Orange'])

In [48]:
cart_5.values()

dict_values([3, 2, 0.5, 3])

In [ ]:
cart_5.update()

In [ ]:
dict.

In [49]:
import pandas as pd

In [59]:
user_details = {'SNO' : [1,2],
                'Name': ['Sangeeth','Alish'],
                'Age' : [34,28]}

In [57]:
user_details

{'SNO': [1, 2], 'Name': ['Sangeeth', 'Alish'], 'Age': [34, 28]}

In [58]:
pd.DataFrame(user_details)

   SNO      Name  Age
0    1  Sangeeth   34
1    2     Alish   28

### TASK 3 - Get 2 examples for List, Set, Tuple and Dict functions.

### TASK 4 - List Comprehension

In [63]:
[i for i in range(1,21) if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]